:root {
  --background: linear-gradient(
    to bottom right,
    #818eaa,
    #cf0f0f,
    #a3a3a3
  ) !important;
  --text-color: #000;
}

html.dark {
  min-height: 100vh;
  --background: linear-gradient(
    to bottom right,
    #111827,
    #450a0a,
    #000000
  ) !important;
  --text-color: #fff !important;
}

html.dark .user-preferences {
  color: #000;
}

body {
  background: var(--background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
